# Библиотеки

pandas

In [ ]:
import math

In [ ]:
type(math)

In [ ]:
math.sin(9)

In [1]:
import pandas as pd

In [ ]:
type(pd)

In [ ]:
pd.DataFrame()

In [ ]:
from datetime import datetime

In [ ]:
datetime.today()

In [ ]:
from os import path, defpath

In [ ]:
defpath

In [ ]:
from os import *
import os

In [ ]:
print('Hello world')

In [ ]:
from evil import *

In [2]:
print('Hello world')

Hello world

In [3]:
sum([1,2,3])

6

## Pandas

In [4]:
import pandas as pd

In [5]:
df = pd.read_sql_query?

In [20]:
df = pd.read_csv('../data/SalesDataFull.csv', 
                 encoding='cp1251', 
                 sep=';',
                 decimal='.', 
                 dtype={'ItemId':object},
                 parse_dates=['Date'])

In [17]:
with open('../data/SalesDataFull.csv', 'r') as f:
    print(f.readline())
    print(f.readline())

Date;ItemId;InventLocationId;SalesFact;EndDay;Deficit

2017-07-01;9214711;Маг0064;1.0;11.0;0.0

In [39]:
df.head(1)

        Date   ItemId InventLocationId  SalesFact  EndDay  Deficit
0 2017-07-01  9214711          Маг0064        1.0    11.0      0.0

In [38]:
type(df.head(1))

pandas.core.frame.DataFrame

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262695 entries, 0 to 1262694
Data columns (total 6 columns):
Date                1262695 non-null datetime64[ns]
ItemId              1262695 non-null object
InventLocationId    1262695 non-null object
SalesFact           1262695 non-null float64
EndDay              1262695 non-null float64
Deficit             1262695 non-null float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 57.8+ MB

In [35]:
df.shape

(1262695, 6)

In [37]:
len(df)>0

True

In [40]:
df.empty

False

In [41]:
pd.DataFrame().empty

True

In [42]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [43]:
type(pd.DataFrame())

pandas.core.frame.DataFrame

In [44]:
None

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262695 entries, 0 to 1262694
Data columns (total 6 columns):
Date                1262695 non-null datetime64[ns]
ItemId              1262695 non-null object
InventLocationId    1262695 non-null object
SalesFact           1262695 non-null float64
EndDay              1262695 non-null float64
Deficit             1262695 non-null bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(2)
memory usage: 49.4+ MB

In [48]:
df['Deficit'] = df['Deficit'].astype('bool')

In [53]:
df.describe(include=[object, bool, float])

         ItemId InventLocationId     SalesFact        EndDay  Deficit
count   1262695          1262695  1.262695e+06  1.262695e+06  1262695
unique      381              225           NaN           NaN        1
top     9216015          Маг0100           NaN           NaN    False
freq      28831            25080           NaN           NaN  1262695
mean        NaN              NaN  1.401993e+00  3.810514e+00      NaN
std         NaN              NaN  1.356167e+00  2.696295e+01      NaN
min         NaN              NaN -1.200000e+01 -2.921848e+04      NaN
25%         NaN              NaN  1.000000e+00  0.000000e+00      NaN
50%         NaN              NaN  1.000000e+00  1.000000e+00      NaN
75%         NaN              NaN  2.000000e+00  5.104000e+00      NaN
max         NaN              NaN  9.000000e+01  3.950000e+02      NaN

In [54]:
df['Deficit'].value_counts()

False    1262695
Name: Deficit, dtype: int64

In [55]:
df['ItemId'].value_counts()

9216015    28831
9220053    24174
1109148    23445
9209897    22762
1112301    22616
           ...
9208034        1
1102045        1
9217035        1
9207671        1
9214267        1
Name: ItemId, Length: 381, dtype: int64

In [60]:
df.sort_values(by=['Date', 'ItemId'], ascending=[False, True])

              Date   ItemId InventLocationId  SalesFact  EndDay  Deficit
1143233 2018-01-23  1102394          Маг0186        1.0    11.0    False
1157168 2018-01-23  1102399          Маг0020        6.0    42.0    False
1157859 2018-01-23  1102399          Маг0064        2.0    62.0    False
1160004 2018-01-23  1102399          Маг0230        4.0    26.0    False
1160765 2018-01-23  1102399          Маг0297        2.0    35.0    False
...            ...      ...              ...        ...     ...      ...
302952  2017-06-19  9220401          Маг0300        0.0     3.0    False
302964  2017-06-19  9220401          Маг0308        1.0     2.0    False
302991  2017-06-19  9220401          Маг0311        3.0     5.0    False
9164    2017-05-12  1112652          Маг0168        0.0     0.0    False
170422  2017-05-02  1111516          Маг0131        0.0     0.0    False

[1262695 rows x 6 columns]

In [64]:
df['ItemId']

0          9214711
1          9214711
2          9214711
3          9214711
4          9214711
            ...
1262690    1111566
1262691    1111566
1262692    1111566
1262693    1111566
1262694    1111566
Name: ItemId, Length: 1262695, dtype: object

In [67]:
df[df['ItemId'] == '9214711'][['Date', 'InventLocationId']]

              Date InventLocationId
0       2017-07-01          Маг0064
1       2017-07-02          Маг0064
2       2017-07-03          Маг0064
3       2017-07-04          Маг0064
4       2017-07-05          Маг0064
...            ...              ...
1110408 2017-12-30          Маг0243
1110409 2018-01-12          Маг0243
1110410 2018-01-13          Маг0243
1110411 2018-01-16          Маг0243
1110412 2018-01-18          Маг0243

[230 rows x 2 columns]

In [68]:
df[(df['ItemId'] == '9214711') &  (df['InventLocationId'] == 'Маг0064')][['Date', 'SalesFact']]

              Date  SalesFact
0       2017-07-01        1.0
1       2017-07-02        1.0
2       2017-07-03        0.0
3       2017-07-04        1.0
4       2017-07-05        1.0
...            ...        ...
1110395 2018-01-06        1.0
1110396 2018-01-07        1.0
1110397 2018-01-08        1.0
1110398 2018-01-14        2.0
1110399 2018-01-16        1.0

[63 rows x 2 columns]